<html lang="en">
<head>
    <meta charset="UTF-8">
    <center><h1>Площадь треугольника</h1></center>
    <br>
    <center>
        <form action="/triangle" method="get">
            a:<br>
            <input type="text" name="a"><br>


            b:<br>
            <input type="text" name="b"><br>

            sin:<br>
            <input type="text" name="sin"><br>
            <input type="submit" value="Submit">
        </form>


        <br>
        <br>
        Площадь треугольника равна:
        <b>{{formula}}</b>
        <br>
        <br>
        Введите следующие значения
    </center>
</head>
</html>